#canvasContainer {
    width: 100%;
    height: calc(100vh - 42px);
    background-color: #540e80;
    border: 10px solid #3f0960;
    box-sizing: border-box;
}

.info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    text-align: right;
    box-sizing: border-box;
}

.info strong {
    font-weight: normal;
    color: #fff;
}

.card-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
}

.card-wrap ul {
    position: relative;
    display: flex;
    height: 100%;
}

.card-wrap ul li {
    position: absolute;
    left: -100%;
    width: 13vw;
    max-width: 120px;
    transition: 0.3s;
    /* z-index: 0; */
}

.card-wrap ul.clickable li.unClick {
    cursor: pointer;
}

.card-wrap ul.clickable li.unClick:hover {
    transform: translateY(-7%) !important;
}

.card-wrap ul li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform ease-in-out 600ms;
}

.card-wrap ul li img.back {
    /* 임시 이미지 */
    border-radius: 1.3vw;
    overflow: hidden;
}

.card-wrap .sparkle-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity: 0; */
    z-index: 1;
}

.card-wrap .sparkle-img:after {
    display: block;
    content: '';
    position: absolute;
    top: 15vw;
    left: 13vw;
    width: 4.5vw;
    height: 4.5vw;
    background-image: url(../img/star.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: glitter 3.5s linear infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.card-wrap .sparkle-img:before {
    display: block;
    content: '';
    position: absolute;
    top: 20vw;
    right: 11vw;
    width: 6.778vw;
    height: 6.778vw;
    background-image: url(../img/star.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: glitter 3.5s linear infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}


.card-wrap .sparkle-img img {
    width: 100%;
}


.btn-wrap button {
    padding: 10px;
    border: 1px solid #000;
}

@keyframes glitter {
    0% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.0);
    }

    75% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}



/* .selected-wrap {
    border: 1px solid #000;
} */

.pop-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 50vh;
    background-color: #ffffff73;
}

.pop-start.hide {
    display: none;
}

.pop-start .btn-play {
    padding: 4vw 6vw;
    font-weight: 600;
    font-size: 6vw;
    background: #fff;
}